;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon May 17 18:19:42 2010
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("find" "find-" "predicates" "-"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/data/projects/ensanche-core/geometry/kernel.scm"
  "kernel.scm"
  'scheme-mode
  '(linum-mode auto-complete-mode)
  17442
  '(1 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/data/projects/ensanche-core/strategies/hinted-brownian-agents.scm"
  "hinted-brownian-agents.scm"
  'scheme-mode
  '(linum-mode)
  17991
  '(18236 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/data/projects/ensanche-core/analysis.scm"
  "analysis.scm"
  'scheme-mode
  '(linum-mode)
  2938
  '(389 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

